[Unit]
Description=service for audio visualizer
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/home/audiojak/prj-audiojak/http-server/test_server/mongoose_ws/mongoose_server/ws_server
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
