[Unit]
Description=HDMI data file stream

[Service]
# Note the - to make systemd ignore the exit code
ExecStart=/usr/bin/python3 /home/zanatticus/prj-audiojak/visualization_server/hdmi_datastream/example_pixel_buffer_gen.py

# This is the part that makes it work like inetd
StandardOutput=socket

# Run as a dynamic user
DynamicUser=yes

# ProtectSystem=strict # Implied by DynamicUser=yes
# PrivateTmp=true # Also implied by DynamicUser=yes

# DynamicUser implies ProtectHome=read-only, but we do not need home directories
ProtectHome=true

# We also do not need to see users
PrivateUsers=true


[Install]
WantedBy=multi-user.target