[Unit]
Description=service for audio visualizer
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/home/zanatticus/prj-audiojak/visualization_server/mongoose_ubuntu_server/mongoose_server/mongoose_server
StartLimitInterval=0

[Install]
WantedBy=multi-user.target